<section class="hub-section">
  <div class="um-uses">
    {% for item in block.items %}
    <div class="um-use">
      <h2>{{ item.label }}</h2>
      <p>{{ item.description }}</p>
    </div>
    {% endfor %}
  </div>
</section>
